<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="id">ID</label>
    <div class="controls">
      <input type="text" id="issueid" placeholder="Issue ID" value="<%= id %>" disabled>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input type="text" id="title" placeholder="Issue Title" value="<%= title %>" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <textarea id="description" name="description"><%= description %></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="button" class="save btn btn-primary">Save</button>
      <button type="button" class="delete btn btn-danger">Delete</button>
    </div>
  </div>
</form>