<div class="row">
  <div class="span12">
  	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>&nbsp;</th>
		</tr>
		<% _.each(issues, function(issue) { %>
	     <tr>
	     	<td><%= issue.id %></td>
	     	<td>
	     		<% if(issue.get('status')) { %>
	     		<span class="label <%= issue.get('status').get('class') %>"><%= issue.get('status').get('title') %></span>
	     		<% } %>
	     		<a href='#/issue/<%= issue.id %>'>
	     			<%- issue.get('title') %>
	     		</a>
	     	</td>
	     	<td><%- issue.get('description') %></td>
	     	<td></td>
	     </tr>
	  	<% }); %>
	</table>
  </div>
</div>